body {
  background-color: #fff;
  color: #333;
  font-family: "Quattrocento", serif;
}

hr {
  border-color: #fff;
}

.wheel {
  width: 10em;
  margin-top: 2em;
}

.btn-controller {
  margin: 1em;
  border: 2px solid #408080;
  display: inline-block;
  padding: 0.5em;
  font: 1em "Quattrocento", serif;
}

.btn-controller:focus,
.btn-controller:hover {
  border: 2px solid #630037;
  color: #630037;
  background: #fff;
}
